{% extends "base.html" %}

{% block content %}
<div class="container-fluid content-block px-0" style="font-size: 20px;">
    <div class="container mx-auto px-0">
        <p class='my-3'>
            <h3>
                Добро пожаловать на ресурс Stepsoft.info!
            </h3>
            <br>
            Мы благодарим Вас за регистрацию на нашем сервисе.
        </p>
        <br>
        <p class='my-3'>
            <h4>
                Как пользоваться Stepsoft.info?
            </h4>
            <br>
            Начнем с верхней панели в правом углу. Вы увидете ее как только авторизуетесь.
            <br><img src="{{img}}guide-1.png" alt="" style="width: 150px;"><br>
            Нажав на кнопку <span class="font-italic">"Редактора"</span>,
            Вы сможете открыть / закрыть IDE нашего сервиса. Благодаря нему, Вы легко сможете проверить свой код во время обучения без каких-либо задержек. Хотя он не всемогущ, и Вы это поймете по ходу обчения, когда пожелаете написать комплексное приложение. Возможности браузера малы по сравнению с возможностями ОС.
        </p>
        <br>
        <p class='my-3'>
            <h4>
                Где же сам материал для обучения?
            </h4>
            <br>
            Нажав на имя своего профиля, Вы увидете меню. Здесь Вы можете перейти на список доступных уроков и оценить их качество. В конце каждой статьи присутствуют задачи по теме. Не забывайте практиковаться, это <span class="font-weight-bold">важно!</span> Как только Вы ознакомитесь с нашим интерфейсом и захотите продолжить обучение, зайдите в Ваш профиль. Там Вы сможете купить / продлить подписку, которая открывает доступ к обучаещему материалу и задачам. <span class="text-secondary">Так же здесь Вы можете поменять пароль.</span>
        </p>
        <br>
        <p class='my-3'>
            <h4>
                Что Вас ждет?
            </h4>
            <br>
            Python - универсальный инструмент для решения любых задач. GameDev, WEB, AI, Software и многое другое - все это станет доступным для Вас, уже после пары месяцов обучения на нашем сервисе. Мы проведем Вас по этому пути так, чтобы Вы не потерялись и не отложили это дело из-за неудач. Этот курс сделает из Вас полноценного <span class="text-primary">Python Junior разработчика</span>. Войдите в ваш аккаунт и начните обучение. Удачи!
        </p>
        <br>
    </div>
</div>
{%endblock%}