{% extends "base.html" %}

{% block content %}
<div class="container-fluid content-block content-block-1 px-0">
    <div class="row container mx-auto px-0">
        <div class="col-lg-8 col-md-10 col-sm col">
            <h2>Интерактивный курс программирования Python 3 для начинающих</h2>
            <p class="my-4 py-4">
                Наш интерактивный курс по языку Python понятен и прост в освоении. 
                Программирование на языке Питон – популярный вид написания кода, который широко используется для решения задач совершенно разного уровня. Софт, созданный на основе данного языка, применяется компаниями и частными лицами.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid content-block content-block-2 px-0 text-light">
    <div class="row container mx-auto px-0">
        <div class="col order-1">
            <h2>Особенности</h2>
            <p>1. Просто в освоении. По сравнению с другими языками, Питон достаточно лоялен к новичкам. Даже в количестве знаков многие сайты, приложения и алгоритмы выглядят более лаконичными, чем другие аналоги.<br>
            2. Можно работать прямо из браузера. Что легче, чем открыть знакомую программу, и начать обучаться?<br>
            3. Специальный отладчик создаёт комфортную среду для «чайников». Процесс сделан для создания лога об ошибках. <br>
            4. Многовариантность написания программы. Найдя стандартное решение, всегда можно искать альтернативные способы. <br>
            5. Наличие библиотек способствует грамотной и быстрой работе. Они представляют собой подобранные алгоритмы уже сделанных скриптов, которые используют как новички, так и опытные специалисты. <br>
            Питон представляет собой востребованный язык, который используют ведущие компании, такие как Google и Pixar. Уникальность метода в том, что он делает сложные вещи проще. Поэтому видеохостинг Youtube и поисковая система Amazon написаны с помощью данного способа.</p>
        </div>
        <div class="col order-0"><img class="img-content-left" src="{{img}}amazon.jpg" alt=""></div>
    </div>
</div>

<div class="container-fluid content-block content-block-3 px-0 text-light">
    <div class="row container mx-auto px-0">
        <div class="col">
            <h2>Мотивация учиться</h2>
            <p>А) Прекрасный шанс увеличить доход, найти новое место в жизни. Зарплаты питонистов стабильно высокие. <br>
            Б) Через нашу школу программистов прошло множество человек. Результат стабильно высокий. <br>
            В) Возможность совмещать курсы с другой деятельностью. Особенно полезно для взрослых занятых людей, которые ценят своё время. <br>
            Г) Обучение дистанционное, т.е. нет нужды тратить ресурсы на проезд к аудитории, питание и прочие накладные расходы. Благодаря такой особенности, общий срок курса получается кратким.
            Стать программистом вполне реально, как для вчерашних школьников, так и для зрелого человека. Всё зависит от желания узнать что-то новое.</p>
        </div>
        <div class="col"><img class="img-content-right" src="{{img}}every.jpg" alt=""></div>
    </div>
</div>

<div class="container-fluid content-block content-block-4 px-0">
    <div class="row container mx-auto px-0">
        <div class="col order-1">
            <h2>Вам нужно начать</h2>
            <p>Вместе с прикладными курсами по языку Питон задача становится вполне решаемой.
Если есть намерение, стоит не откладывая дело надолго, посмотрите наши бесплатные интерактивные уроки по Python и начните обучаться прямо сейчас.</p>
        </div>
        <div class="col order-0"><img class="img-content-left" src="{{img}}laptop.jpg" alt=""></div>
    </div>
</div>

{% endblock %}